$c-brand-green:         #50a58c;
$c-brand-orange:        #f7a227;

$c-white:               #fff;
$c-gray-1:              #f7f9f9;
$c-gray-2:              #d9d9d9;
$c-gray-3:              #a5a5a5;
$c-gray-4:              #808080;
$c-gray-5:              #595959;
$c-gray-6:              #444;
$c-gray-7:              #222;
$c-black:               #000;

$c-utility-positive:    #03804d;
$c-utility-caution:     #a59b15;
$c-utility-negative:    #b12a0b;
$c-utility-neutral:     #0192d0;
