/* ==========================================================================
   Z-Index
   ========================================================================== */
$z-header:                  20;
$z-header-overlay:          19;




/* ==========================================================================
   Content Spaced
   ========================================================================== */
$g-spacing-unit-1:          1rem;
$g-spacing-unit-2:          1.25rem;
$g-spacing-unit-3:          1.5rem;
$g-spacing-unit-4:          1.75rem;
$g-spacing-unit-5:          2rem;
$g-spacing-unit-6:          2.5rem;
$g-spacing-unit-7:          3rem;
$g-spacing-unit-8:          4rem;
$g-spacing-unit-9:          5rem;
$g-spacing-unit-10:         7rem;
