$textmedia-space-between: 2rem;
$textmedia-breakpoint-beside: $bp-medium-small;

/**
* clear floats
*/
.b-content-textmedia__textpic {
    overflow: hidden;
}

/**
* prevent images from overtower the cols
*/
.b-content-textmedia__images__list__item {
    max-width: 100%;
}

/**
* reset/set globals for textmedia images
*/
.b-content-textmedia__images {

    /**
    * set images to 100% if:
    * - multiple images beside each
    * - 50% image / text split
    */
    .b-content-textmedia__textpic--intext &,
    .b-content-textmedia__images__list {

        img {
            width: 100%;
        }
    }

    ul {
        overflow: hidden;
        list-style: none;
        margin: 0 !important;
        padding: 0 !important;

        li {
            margin: 0 !important;
        }
    }

    figcaption {
        //font-size: smaller;
    }
}

/**
* InText / BesideText Styling
*/
.b-content-textmedia__textpic--intext {

    @include bp($textmedia-breakpoint-beside) {

        /**
        * image / text 'GRID'
        */
        .b-content-textmedia__images {
            max-width: calc(50% + #{$textmedia-space-between / 2});
        }

        .b-content-textmedia__bodytext {
            width: 100%;
        }

        /**
        * image / text floats and spaces
        */
        &.b-content-textmedia__textpic--left {

            .b-content-textmedia__images {
                float: left;
                padding-right: $textmedia-space-between;
            }
        }

        &.b-content-textmedia__textpic--right {

            .b-content-textmedia__images {
                float: right;
                padding-left: $textmedia-space-between;
            }
        }

        &.b-content-textmedia__textpic--nowrap {

            .b-content-textmedia__images {
                max-width: 50%;
            }

            .b-content-textmedia__bodytext {
                width: 100%;
            }

            &.b-content-textmedia__textpic--right {
                .b-content-textmedia__images {
                    float: right;
                }
            }

            &.b-content-textmedia__textpic--left {
                .b-content-textmedia__images {
                    float: left;
                }
            }
        }
    }

    /**
    * space between image list (in col)
    */
    .b-content-textmedia__images__list__item + .b-content-textmedia__images__list__item {
        padding-top: $textmedia-space-between;
    }
}

/**
* Above / Below Styling
*/
.b-content-textmedia__textpic--above,
.b-content-textmedia__textpic--below {

    @include bp($textmedia-breakpoint-beside) {

        .b-content-textmedia__images__list__item + .b-content-textmedia__images__list__item {
            padding-top: 0;
        }

        .b-content-textmedia__images__list__item {
            //width: 50%;
            float: left;
            max-width: 50%;

            &:nth-child(1) {
                padding-right: $textmedia-space-between / 2;
            }

            &:nth-child(2) {
                padding-left: $textmedia-space-between / 2;
            }
        }
    }

    /**
    * space between image list (in col)
    */
    .b-content-textmedia__images__list__item + .b-content-textmedia__images__list__item {
        padding-top: $textmedia-space-between;
    }
}
