.#{$prefix}post-detail,
%#{$prefix}post-detail {

    h1 {
        margin-bottom: .2em;
    }
}

.#{$prefix}post-detail__meta,
%#{$prefix}post-detail__meta {
    margin: 0 0 25px;
    font-size: smaller;
}

.#{$prefix}post-detail__back-link,
%#{$prefix}post-detail__back-link {
    margin-top: 40px;
}
