.#{$prefix}post-list,
%#{$prefix}post-list {

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 20px;

            @include bp(medium) {
                margin-bottom: 35px;
            }
        }
    }
}

.#{$prefix}post-list__item,
%#{$prefix}post-list__item {

    h2 {
        margin-top: 0;

        a {
            text-decoration: none;
            color: $c-font-main;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.#{$prefix}post-list__item__meta,
%#{$prefix}post-list__item__meta {
    font-size: smaller;
}
