@include headings(1, 6) {
    font-family: $base-font-family-sans;
    font-weight: normal;
    word-break: normal;
    word-wrap: inherit;
    margin: 0;
}

h1 {
    margin-bottom: 8px;
    line-height: 1.05;
}

h2 {
    margin-bottom: 6px;
    line-height: 1.1;
}

h3 {
    margin-bottom: 4px;
    line-height: 1.1;
}

h4 {
    margin-bottom: 2px;
    line-height: 1.1;
}
