@include headings(1, 6) {
    font-family: $base-font-family-sans;
    font-weight: normal;
    word-break: normal;
    word-wrap: inherit;
    //margin: 0;
}

h1 {
    margin: 2em 0 .5em;
    line-height: 1.15;
}

h2 {
    margin: 2em 0 .5em;
    line-height: 1.25;
}

h3 {
    margin: 2em 0 .5em;
    line-height: 1.25;
}

h4 {
    margin-bottom: 2px;
    line-height: 1.25;
}
