html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/*
body {
    font-family: $base-font-family;
    color: $c-font-main;

    // desktop font-sizes for core verison
    font-size: $base-font-size-large;
    line-height: $base-line-height-large;

    .enhanced & {
        font-size: $base-font-size;
        line-height: $base-line-height;

        @include bp(medium-small) {
            font-size: $base-font-size-small;
            line-height: $base-line-height-small;
        }

        @include bp(medium) {
            font-size: $base-font-size-medium;
            line-height: $base-line-height-medium;
        }

        @include bp(large) {
            font-size: $base-font-size-large;
            line-height: $base-line-height-large;
        }
    }
}
*/
