---
layout: default
---
<section class="o-section">
    <div class="o-section__wrapper">
        <article class="c-post-detail" itemscope itemtype="http://schema.org/BlogPosting">
            <header>
                <h1 itemprop="name headline">{{ page.title }}</h1>
                <p class="c-post-detail__meta">
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d.%M.%Y" }}
                    </time>
                    {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                    itemprop="name">{{ page.author }}</span></span>{% endif %}
                </p>
            </header>
            <div class="c-post-detail__content" itemprop="articleBody">
                {{ content }}
            </div>
            <div class="c-post-detail__back-link">
                <a href="/">Zurück</a>
            </div>
        </article>
    </div>
</section>
